<a href="https://colab.research.google.com/github/theheking/intro-to-python/blob/gh-pages/4_Missing_Filled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Dealing with missing data

Most real-world data has lots of missing values, and this can be an issue; in this notebook, we'll go through how to deal with missing data.

Objectives
1. What NaN values are
2. How they might be represented
3. What this means for your work
4. How to replace NaN values, if desired
5. How to use to_csv to write manipulated data to a file.

In [1]:
!pip install pandas matplotlib # install the packages directly into the notebook

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

Make sure the libraries are loaded and we have the data we need.

In [2]:
# Download a file using python
import urllib.request # this is the library we need 

url = 'https://raw.githubusercontent.com/theheking/intro-to-python/gh-pages/docs/patient_data.csv'
#retrieve the file

urllib.request.urlretrieve(url, 'patient_data.csv')

#import pandas as a package
import pandas as pd 

#read in the patient data 
patient_df=pd.read_csv('patient_data.csv', sep=',')

### Finding Missing Values
Let's identify all locations in the data that have null (missing or NaN) data values. 


We can use the `isnull` method to do this. The `isnull` method will compare each cell with a null value. If an element has a null value, it will be assigned a value of `True` in the output object.

In [3]:
pd.isnull(patient_df).head()

   patient_id  site_id  gender   time   year  month    day  illness  weight
0       False    False   False  False  False  False  False    False   False
1       False    False   False  False  False  False  False    False   False
2       False    False   False  False  False  False  False    False   False
3       False    False   False  False  False  False  False    False    True
4       False    False   False  False  False  False  False    False   False

## How to select rows with missing data

To select the rows where there are null values, we can use the mask as an index to subset our data as follows:

In [4]:
# To select only the rows with NaN values, we can use the 'any()' method
patient_df[pd.isnull(patient_df).any(axis=1)]

,patient_id,site_id,gender,time,year,month,day,illness,weight
3,4,7,M,4:52 pm,2022.0,1.0,12.0,aortic aneurysm,NaN
5,6,1,M,6:24 am,2022.0,2.0,12.0,myeloma,NaN
10,11,5,F,2:14 pm,2022.0,3.0,12.0,hyponatraemia,NaN
12,13,3,M,11:08 pm,2022.0,3.0,12.0,neck dissection,NaN
13,14,8,NaN,11:35 pm,2022.0,3.0,12.0,NaN,92.0
...,...,...,...,...,...,...,...,...,...
1178,1179,18,M,11:40 am,2022.0,11.0,1.0,NaN,NaN
1184,1185,1,F,NaN,NaN,NaN,NaN,MVA,56.0
1186,1187,16,F,4:00 pm,2022.0,11.0,8.0,MVA,NaN
1187,1188,1,M,NaN,NaN,NaN,NaN,pe,NaN
1189,1190,13,M,8:05 am,2022.0,11.0,12.0,nstemi,NaN

### Explanation
Notice that we have 444 observations/rows that contain one or more missing values. 

That's roughly **37%** of data contains missing values.

We have used `[]` conversion to select a subset of data.

More information about slicing and indexing can be found out here.

`(axis=1)` is a numpy convention to specify columns.



Note that the weight column of our DataFrame contains many null or NaN values. Next, we will explore ways of dealing with this.

If we look at the weight column in the patient data, we notice that there are NaN (Not a Number) values. NaN values are undefined values that are not represented mathematically. 

Pandas, for example, will read an empty cell in a CSV or Excel sheet as a NaN. However, NaNs have some desirable properties: if we were to average the weight column without replacing our NaNs, Python would know to skip over those cells.


## Dealing with missing values.

Thoughts: 

1. What are some reasons why there might be missing data?
2. How would you deal with missing values?
3. Is it OK to ignore missing values when calculating the mean?
4. What effect do missing values have when you multiply 2 columns (either test this out or think about what would happen).

In [5]:
## where Are the NaN's?

## how many missing values are there in weight column
len(patient_df[pd.isnull(patient_df.weight)])

207

In [6]:
# number of rows have weight values
len(patient_df[patient_df.weight> 0])

984

We can replace all NaN values with zeroes using the .fillna() method (after making a copy of the data so we don't lose our work):

In [7]:
# create a new DataFrame using copy
df1 = patient_df.copy()

# fill all NaN values with 0
df1['weight'] = df1['weight'].fillna(0)

print(patient_df['weight'].mean())
print(df1['weight'].mean())

71.09349593495935
58.737195633921075

In [8]:
# Fill all NaN values with mean
df1 = patient_df.copy()
df1['weight'] = df1['weight'].fillna(patient_df['weight'].mean())

#check the mean 
print(patient_df['weight'].mean())
print(df1['weight'].mean())

71.09349593495935
71.09349593495936

## Writing Out Data to CSV

Great, you've filled out all your data, but now you want to share it with your collaborators. To do that, you can just write to a CSV as usual.

In [9]:
# Write DataFrame to CSV
df1.to_csv('surveys_complete.csv', index=False)